<app-ngrx-and-bsuject-header-testing></app-ngrx-and-bsuject-header-testing>
<div class="grid-container">

    <div class="grid-item">
        <app-array-form></app-array-form>
        <h3>Form Array testing code</h3>
    </div>
    <div class="grid-item">
        <app-form></app-form>
        <h3>Subject or BehaviorSubject testing in console.</h3>
    </div>
    <div class="grid-item">
        <app-dynamic-forms></app-dynamic-forms>
        <h3>Dynamic Forms</h3>
    </div>
    <div class="grid-item">
        <app-custom-async-validators></app-custom-async-validators>
        <h3>Custom Async Validators</h3>
    </div>
    <div class="grid-item">
        <app-beahviour-subject-and-signal></app-beahviour-subject-and-signal>
        <h3>BehaviourSubject and Signal Example</h3>
    </div>
</div>
<app-ngrx-and-bsuject-fotter-testing></app-ngrx-and-bsuject-fotter-testing>